/*
	StyleSheet by David Herreman
	http://www.free-css-templates.com
		
*/

body {
padding : 0;
margin : 0;
font : 0.74em Arial, sans-serif;
line-height : 1.5em;
background : #fff url(images/bg.jpg) repeat-x top;
color : #454545;
}
a {
color : #7a9833;
background : inherit;
text-decoration : none;
}
a:hover {
color : #7a9833;
background : inherit;
text-decoration : underline;
}
p {
margin : 7px 0;
}
h1 {
font : bold 1.8em Arial, Sans-Serif;
padding : 8px 0 4px 0;
margin : 0;
letter-spacing : -1px;
}
h2 {
font: bold 1.1em Arial, Sans-Serif;
margin:0;
padding-bottom:0px;
padding-top:20px;
}
h3 {
padding : 4px 0;
margin : 0;
}
h4 {
font: bold 1.1em Arial, Sans-Serif;
margin:0;
padding-bottom:0px;
padding-top:20px;
}
ul {
margin : 0;
padding : 0; 
list-style : none;
}
img {
border : 0;
}
hr {
height : 1px;
border-style : none;
color : #d0d0d0;
background-color : #c0c0c0;
margin : 10px 0;
}
tt {
font-size: 1.2em;
color: #222;
}
.content {
margin : 0 auto;
width : 900px;
}
#top {
padding-top : 0;
background : transparent;
height : 80px;
}
#top .sitename {
font : bold 1.8em Arial, Sans-Serif;
padding : 20px 0 0 0;
margin : 0;
letter-spacing : 1px;
color : #616161;
}
#top .sitetag {
font : 0.9em Arial, Sans-Serif;
letter-spacing : 0;
color : #868686;
margin : 0;
padding : 0;
}
#top #icons {
float : right;
margin : 25px 15px 0;
padding : 0;
}
#top #icons img {
padding-right : 2px;
border : 0;
}
#menu {
margin : 0;
height : 34px;
padding-top : 0;
}
#menu li {
list-style : none;
display : inline;
line-height : 34px;
}
#menu li a {
text-decoration : none;
margin : 0;
padding : 9px 15px 10px 15px;
font-weight : bold;
color : #fff;
}
#menu li a:hover {
color : #fff;
background : #a7cc44;
margin : 0;
}
#menu li a.current {
background : #616161 url(images/trcorner.gif) no-repeat top right;
color : #fff;
}
#main {
width : 900px;
margin : 0;
padding : 0;
}
#right_side {
float : right;
width : 230px;
background : #ffffff url(images/topr.jpg) no-repeat top right;
overflow : hidden;
}
#right_side .pad {
padding : 35px 10px 10px 17px;
}
#right_side ul {
padding : 3px 0 8px 0;
}
#right_side li {
line-height : 18px;
background : #fff;
list-style : square;
padding-left : 0;
margin-left : 15px;
color : #b4e04a;
}
#right_side a {
background : inherit;
text-decoration : none;
}
#right_side h3 {
color : #949494;
font : bold 1.2em Arial, Sans-Serif;
margin-top : 10px;
}
#left_side {
background : inherit;
margin-bottom : 10px;
width : 650px;
}
#left_side .intro {
height : 80px;
background : #616161;
color : #fff;
overflow : hidden;
}
#left_side .intro .pad {
padding : 18px 5px 5px 5px;
}
#left_side .intro a {
color : #b4e04a;
text-decoration : none;
}
#left_side .intro a:hover {
color : #cdff56;
text-decoration : underline;
}
#left_side .mpart {
padding : 40px 0 0 0;
}
#left_side h3 {
background : inherit;
padding : 0;
margin : 0;
font : bold 1.4em Arial, Sans-Serif;
}
#left_side .mpart h4 {
background : url(images/lrline.gif) no-repeat bottom left;
padding : 0;
margin : 10px 0 10px 0;
font : 0.9em verdana, Arial, Sans-Serif;
}
#left_side p {
color : #454545;
padding : 0;
text-align : justify;
}
#left_side img {
float : left;
padding : 0 10px 5px 0;
}
#left_side blockquote {
padding-left : 10px;
border-left : 3px solid #a7cc44;
margin : 10px 0 10px 25px;
}
.date {
border-top : 1px dotted #ccc;
padding : 5px 0;
margin : 10px 0 25px 0;
text-align : right;
font-style:italic;
font-size:0.9em;
color:#999999;
}
#left_side .menu {
font-weight:bold;
float : right;
margin : 0 10px;
border : 1px solid #ddd;
padding : 5px;
background : #f5f5f5;
}
#left_side ul {
margin-left : 6px;
}
#left_side ul li {
list-style-type : square;
margin-left : 15px;
}
#left_side ul ul li {
list-style : none;
margin-left : 10px;
list-style-type : lower-alpha;
list-style-position : inside;
}
#left_side .greybox {
border : 1px solid #ccc;
background : #f5f5f5;
width : 628px;
padding : 10px;
}
#footer {
clear : both;
width : 900px;
margin : 0 0 6em 0;
color : #777;
background : #fff url(images/rlline.gif) no-repeat top right;
}
#footer .right {
float : right;
text-align : right;
background : inherit;
padding-top : 10px;
font-size: 1.0em;
font-style: italic;
width : 900px;
}
#footer a {
text-decoration : none;
background : #fff;
}
#left_side .mpart .tutorial h2 {
    font-size: 1.4em;
    margin-bottom: 6px;
    padding-bottom: 3px;
    background : url(images/lrline.gif) no-repeat bottom left;
}
#left_side .mpart .tutorial h3 {
    font-size: 1.1em;
    background: none;
    padding-top: 10px;
}
#left_side .mpart .tutorial h4 {
    padding-top: 8px;
    background: none;
    font-weight: bold;
}
#right_side .rss-item a {color:#7a9833;}
#right_side .rss-item {color:#454545;list-style:none;margin-left:0px;padding-bottom:15px;}
#right_side .current {color:#454545;}
#right_side ul ul li {
margin-left:40px;
}
.tcl {
    background : url(images/tcl.gif) no-repeat top left;
    padding-left : 40px;
    border-left : 3px solid #4e89cc;
    margin : 15px 0 15px 15px;
    min-height: 35px;
}
.ruby {
    background : url(images/ruby.gif) no-repeat top left;
    padding-left : 40px;
    border-left : 3px solid #ce1b1b;
    margin : 15px 0 15px 15px;
    min-height: 35px;
}
.perl {
    background : url(images/perl.gif) no-repeat top left;
    padding-left : 40px;
    border-left : 3px solid #666;
    margin : 15px 0 15px 15px;
    min-height: 38px;
}
.python {
    background : url(images/python.gif) no-repeat top left;
    padding-left : 40px;
    border-left : 3px solid #ffce42;
    margin : 15px 0 15px 15px;
    min-height: 38px;
}
.tclplain, .rubyplain, .perlplain, .pythonplain {}
.tclhidden, .rubyhidden, .perlhidden, .pythonhidden {display:none;}
#left_side pre {
   font-size: 1.2em;
   margin-left:15px;
   line-height: 125%;        
}
#left_side pre em {
    padding: 2px;
    color:#457545;
}
.langselector {
border : 1px solid #ccc;
background : #f5f5f5;
padding : 10px;
margin-left:5px;
}
#left_side .fyi {
    margin : 10px 0 20px 45px;
    font-style: italic;
    color: #777;
    padding: 5px 5px 5px 50px;
    border : 1px solid #ccc;
    background : #f5f5f5;
    background : url(images/fyi.gif) no-repeat 3px 3px;
    min-height: 30px;    
}
#left_side .yuck {
    margin : 10px 0 20px 45px;
    font-style: italic;
    color: #777;
    padding: 5px 5px 5px 50px;
    border : 1px solid #ccc;
    background : #f5f5f5;
    background : url(images/yuck.gif) no-repeat 3px 3px;
    min-height: 30px;
}
#left_side .oops {
    margin : 10px 0 20px 45px;
    font-style: italic;
    color: #777;
    padding: 5px 5px 5px 50px;
    border : 1px solid #ccc;
    background : #f5f5f5;
    background : url(images/oops.gif) no-repeat 3px 3px;
    min-height: 30px;
}
#left_side .upgrade {
    margin : 10px 0 20px 45px;
    font-style: italic;
    color: #777;
    padding: 5px 5px 5px 50px;
    border : 1px solid #ccc;
    background : #f5f5f5;
    background : url(images/upgrade.gif) no-repeat 3px 3px;
    min-height: 40px;
}
#left_side .upgrade a {background: #f5f5f5;}
#left_side .tip {
    margin: 10px 0 20px 45px;
    font-style: italic;
    color: #777;
    padding: 5px 5px 5px 50px;
    border : 1px solid #ccc;
    background : #f5f5f5;
    background : url(images/tip.gif) no-repeat 3px 3px;
    
}
#left_side .fyi a {
    background-image: none;
}
#left_side .fyi tt, #left_side .yuck tt, #left_side .oops tt, #left_side .upgrade tt, #left_side .tip tt {
    color: #555;
}
#left_side .picture {
    text-align: center;
    font-size: 0.9em;
}
.caption {
    text-align:center;
    font-size:0.9em;
    margin-top:0;
    padding-top:0;
}
#left_side .picture img {
    float: none;
}
.bigger {
    font-size: 1.3em;
    font-weight: bold;
}
#left_side .linenumber {
    text-align:right;
    font-size:0.75em;
    padding-right:10px;
    color:#999;
}
#left_side .codeline pre {
    margin:0;
    padding:0;
    font-size:1.2em;
}
#left_side table {
margin-left:20px;
}
#toc li {
    font-size: 1.4em;
    font-weight: bold;
    padding-top:20px;
}
#toc ul li {
    font-size:1.2em;
    font-weight:normal;
    padding-top:6px;
}
#left_side .mpart .tutorial .nav {
    text-align: center;
    padding: 5px 5px 5px 5px;
    border : 1px solid #ccc;
    background-color: #f5f5f5;
}
#left_side a[href^="http://"]:not([href*="tkdocs.com"]):not([href*="feedburner.com"]) {
   background: url(images/external.png) no-repeat top right;
   padding-right: 13px;
}
#right_side a[href^="http://"]:not([href*="tkdocs.com"]):not([href*="feedburner.com"]) {
   background: url(images/external.png) no-repeat top right;
   padding-right: 13px;
}
.widget table tr th, .widget table tr td {padding:5px;vertical-align:top;}
.widget table tr th {
text-align:left;
font-weight:normal;
font-style:italic;
width:150px;
}
.widget h2 {
    font-size: 1.3em;
    margin-bottom: 6px;
    padding-bottom: 3px;
    background : url(images/lrline.gif) no-repeat bottom left;
}

.changelog .chgdate {
    font-weight:bold;
    font-size:0.9em;
    font-size:0.9em;
    color:#777;
    vertical-align:top;
    
}